#contenedor {   z-index:1;
          width:auto;
		  height:100%;
		  margin-left:1%;
		  margin-top:0.5%;
	      /*margin:5px 5px 5px 20px;*/
		  /*position:absolute;*/
		  /*background-color: #33f;
height: 100%!important;
height: 99.6%;*/
}  
/*Imagen flechas*/
#imgatras:link{ text-decoration:none;}			
/*MENU*/					   
#menu ul { list-style-type: none;
font-size:12px;}
#menu ul li.nivel1 { 
float: left;
margin-right:4px;
}
#menu ul li a {display: block;
text-decoration: none;
color:#000;
background-color: #E2F4FE;;
border:#09F solid 1px;
position: relative;
padding: 3px;
}
#menu ul li:hover {position: relative;}
#menu ul li a:hover, #menu ul li:hover a.nivel1 {background-color: #A8D3FF; color:#000; position: relative;}
#menu ul li a.nivel1 {display: block !important; display: none; position: relative;}

#menu ul li ul {display: none;}
#menu ul li ul li a {width: 115px; height: 13px; background:#FFF; border-color:#CCC;}
#menu ul li:hover  ul.nivel2{display: block; position: absolute;left: -40px;} 

#menu ul li ul li ul{display: none;}
#menu ul li ul li ul li a {width: 115px; height: 13px; background:#FFF; border-color:#CCC;}
#menu ul li ul li:hover ul.nivel3{display: block; position: relative;left: 82px; margin-top: -21px}

#menu ul li ul li ul li ul{display: none;}
#menu ul li ul li ul li ul li a {width: 115px; height: 13px; background:#FFF; border-color:#CCC;}
#menu ul li ul li ul li:hover ul.nivel4{display: block; position: absolute;left: 83px; margin-top: -21px}


#globalsalidas{/*Contenedor que se activa al dar click en salidas*/
	position:relative;
	/*top:5px;*/
	}

	
.detalle{
display:none;/*Es lel formato que aparece despues de dar click en "atender" en la lista de pendientes*/ 
width:880px;
/*margin-top:3px;*/
}

.boton{
		border:#000 solid 1px;
		background:#A8D3FF;
		width:130px;
		margin:2px;
		}
/*#MLP{position:absolute; left:165px; top:355px;}*/
.listaPiezas{ width:900px; float:left;}
.listaPiezas th{/*Es la tabla dentro de detalles*/
	border-bottom:#8CB7F7 2px solid;
	font-size:12px;}
.listaPiezas td {
	text-align:center;
	font-size:11px;}

#listaInventario{
	padding:5px;
	float:left;
	margin:20px auto auto 30px;}
#listaInventario th{
	border-bottom:#8CB7F7 2px solid;
	font-size:11px;}
#listaInventario td{
	text-align:center;
	font-size:10px;}
#tabla select {font-size:10px;}
#filtraInv select {font-size:10px; float:left;}
#listaFolios td:hover,.listaBusquedaFallas td:hover,.listaBusquedaTecnicos td:hover,#divMenuVer span:hover, td.ver:hover{
background-color: #A8D3FF;
}
/*.listaBusquedaTecnicos td:hover{background-color: #A8D3FF;}*/
html,body{
margin:0px;
height:99%;
}
#contenido input{font-size:10px;}
#contenido select{font-size:10px;}
/*MENU2*/					   
#menu2 ul {list-style-type: none;
font-size:12px;
text-decoration:none;
margin:0px;
padding:0px;
}
#menu2 ul li.nivel {
float: left;
margin-right:4px;
}
#menu2 ul li a {display: block;
text-decoration: none;
color:#000;
background-color: #E2F4FE;;
border:#09F solid 1px;
/*position: relative;*/
padding: 2px;
}
#menu2 ul li:hover {/*position: relative;*/}
/*#menu2 ul li a:hover,*/ #menu2 ul li.nivel:hover a{
/*background-color: #A8D3FF;*/
color:#000;
/*position: relative;*/
padding: 3px;
}
#menu2 li.current a {
	/*background-position:100% -75px;*/
	background-color: #A8D3FF;
	padding: 2px;
	float: left;
	/*position: relative;*/
	margin-right:4px;
	top:3px;
	margin-top:3px;
}
/* tooltip*/
/*#mitexto{width: 500px; margin:0 auto}   */
td.tt span{display: none;  left:200px;}   
  
/*background:; ie hack*/   
td.tt:hover{ z-index:25;} 
td.tt:hover span.tooltip{
    display:block; 
     top: 100px; left:200px;
     /*outline: double;*/
   cursor:help;
    width:200px;   
    color: #993300;   
    text-align:left;   
	position:absolute;
	font-size:12px;
	}   
td.tt:hover span.top{   
    display: block;   
    padding: 10px 8px 0;   
    background: url(../imgs/bubble3.gif) no-repeat top ;   
}   
td.tt:hover span.middle{ /* altura del bloque variable */   
    display: block;   
    padding: 0 8px;   
    background: url(../imgs/bubble_filler.gif) repeat bottom;   
}   
td.tt:hover span.bottom{   
    display: block;   
    padding:3px 8px 10px;   
    color: #548912;   
    background: url(../imgs/bubble.gif) no-repeat bottom;   
}
.divBuscaFallas {position: absolute;
background-color:#F5F5F5;
font-size:10px;
border:#999 solid 1px;
/*z-index:25;*/}
.divBuscaTecnicos1 {position: absolute;
background-color:#F5F5F5;
font-size:10px;
border:#999 solid 1px;
z-index:25;
max-height:300px;
overflow:auto;}
.divBuscaTecnicos2 {position: absolute;
background-color:#F5F5F5;
font-size:10px;
border:#999 solid 1px;
z-index:25;}
.divBuscaFolios {
width:97%;
margin-left:10px;
background-color:#F5F5F5;
font-size:12px;
/*overflow:hidden;
border:#999 solid 1px;*/
}
#menuLista {font-size:13px;}
#divMenuVer {position: absolute;
background-color:#FFF;
top: 88px; left:50px;
font-size:12px;
width:110px;
height:190px;
border:#999 solid 1px;
z-index:25;
display:none;
}
.Estilo6 {color: #666;}

li.nivel a span.uno{ 
display:none;
}
.divCalendario {position: absolute;
background-color:#F5F5F5;
font-size:12px;
border:#999 solid 1px;
}
.divCalendario2 {position: absolute;margin-top:0%;margin-left:56%;background-color:#F5F5F5;font-size:12px;border:#999 solid 1px;}
.divCalendario3 {position: absolute;margin-top:-7%;margin-left:56%;background-color:#F5F5F5;font-size:12px;border:#999 solid 1px;}
.divCalendario4 {position: absolute;margin-top:-14%;margin-left:56%;background-color:#F5F5F5;font-size:12px;border:#999 solid 1px;}
.divCalendario5 {position: absolute;margin-top:-21%;margin-left:56%;background-color:#F5F5F5;font-size:12px;border:#999 solid 1px;}
.SubmenuFolio{font-size:12px;
color:#06F; cursor:pointer;
/*text-decoration:underline;*/
padding-top:5px; background-color:#F5F5F5;
}
.nuevoTR{ font-style:oblique; color:#666;
}
.spanDesRefaccion{ background-color:#FDFFCE;
margin:10px; font-size:12px;}
#bordesolido{
   border-color: #aaaaaa;
   border-width: 1px;
   border-style: solid;
}
.spanPanAzul {color:#3366cc;
cursor:pointer}
.divIp {position: fixed;
font-size:10px;
display:none;
/*z-index:2;*/}
.grisCF {color: #666;}
#tablaFolioCF{ width:800px;}
#divComentariosCF{ border-top:solid #60A9F2; height:120px; width:800px; overflow:auto; font-size:12px;}
#divConsultaCF{border:solid #60A9F2; width:800px;}
#divComentariosCF{ background-color:#F2F2F2}
.spanPanAzul{color:#3366cc;cursor:pointer}
#divConsulta{border:solid #60A9F2;}
.divComentarios{ border-top:solid #60A9F2; width:auto; overflow:auto; font-size:12px;background-color:#F2F2F2}
.gris {color: #666;}
#pedidoNuevoDiv{ overflow:auto;
border:#A8D3FF solid 2px;}
.divFoliosXLicencia {float:right;position: absolute;
background-color:#F5F5F5;
font-size:11px;
border:#999 solid 1px;
filter: alpha(opacity=50); opacity: .5; float:right; margin-left:110px;
max-height:300px; width:65px;
overflow:inherit;}
.folin{ display:none;font-size:11px;}
/*td.tdbusFolios:hover span.folin{display:block; }*/
/*#tablabusFolios2:hover td.folin{display:block;}*/
.divFoliosXLicencia:hover {width:170px;margin-left:5px; opacity: 1;filter: alpha(opacity=100);}
.divFoliosXLicencia:hover td.folin{display:block;}
.trBusLic{color:#4363FC;}
#ordenServicioDiv{ border:solid #A8D3FF;font-size:10px}
.Parte input{ font-size:10px}
.Parte select{ font-size:10px}
.azul{color:#69C;}